# IED distributions during flicker sessions

### Sina Dabiri

In [1]:
import numpy as np
import matplotlib
from matplotlib import pyplot as plt
import seaborn as sns
import pandas as pd
import os

## 1. select which subject's data to use
Check excel sheet to see which subjects to include in IED histogram analysis
FlickerStudyMetadata.xlsx

In [2]:
path="Y:\FlickerStudyMetadata.xlsx"
FlickerStudy_df = pd.read_excel(path)

In [3]:
FlickerStudy_df.head()

,Subject_ID,Experiment,Session,Session_version,Completed?,Number of sessions within experiment,Include in analysis?,Brightness lux 1 (40Hz AV)- left,Brightness lux 2 (40Hz AV)- right,Average brightness,Volume dBA 1 (40Hz AV)- left,Volume dBA 2 (40Hz AV)- right,Average Volume,Did occluded?,Single unit recording?,Number of single units,Location of single units,"AEDs taken on day of testing, before testing",Relevant notes
0,FL000,flickerneuro,1,NaN,1,6,1,162,163,162.5,73.9,77.2,75.55,1,0,NaN,NaN,Lamotrigine (300mg); Levetiracetam (750mg); Zo...,Occluded condition was 40Hz-AV; any other notes?
1,FL001,flickerneuro,1,NaN,1,6,1,200,197,198.5,81.4,83.5,82.45,0,1,11,"mid-hippocampus, posterior-cingulate",Lamotrigine (300mg); Levetiracetam (2000mg); T...,NaN
2,FL002,flickerneuro,1,NaN,1,6,1,13,14,13.5,82.4,83.4,82.90,1,0,NaN,NaN,Lamotrigine (200mg).,NaN
3,FL003,flickerneuro,1,NaN,1,6,1,48,50,49.0,79.1,77.5,78.30,1,0,NaN,NaN,Lamotrigine (75mg); Levetiracetam (250mg).,NaN
4,FL003,spep,1,NaN,1,NaN,1,709,720,714.5,91.7,93.4,92.55,1,0,NaN,NaN,None.,NaN

In [4]:
# Filtering for subjects to include in analysis 
sessions = FlickerStudy_df.loc[FlickerStudy_df['Include in analysis?']>0 ,['Subject_ID','Experiment','Session']]
sessions_flickerneuro = sessions.loc[FlickerStudy_df['Experiment']=='flickerneuro']
sessions_flickerneuro

   Subject_ID    Experiment  Session
0       FL000  flickerneuro        1
1       FL001  flickerneuro        1
2       FL002  flickerneuro        1
3       FL003  flickerneuro        1
6       FL005  flickerneuro        1
9       FL007  flickerneuro        1
12      FL009  flickerneuro        1
14      FL010  flickerneuro        1
15      FL011  flickerneuro        1
17      FL012  flickerneuro        1
21      FL014  flickerneuro        1
22      FL014  flickerneuro        2
25      FL016  flickerneuro        1
33      FL021  flickerneuro        1

## 2. Import "All spike" tables for each session into conda dataframe

In [5]:
rows, col = sessions_flickerneuro.shape
rows

14

In [33]:
# loop through to get all of the paths to the "All spike" xl files

IED_path=[""]*rows
for p in range(rows):
    idx = sessions_flickerneuro.index[p]
    subject_path = str(sessions_flickerneuro.loc[idx,'Subject_ID'])+ "/task-flickerneuro/ses-0" + str(sessions_flickerneuro.loc[idx,'Session'])
    IED_path[p]= "Y:/stg-preproc/sub-"+ subject_path + "/IED-preproc/"

In [34]:
IED_path

['Y:/stg-preproc/sub-FL000/task-flickerneuro/ses-01/IED-preproc/',
 'Y:/stg-preproc/sub-FL001/task-flickerneuro/ses-01/IED-preproc/',
 'Y:/stg-preproc/sub-FL002/task-flickerneuro/ses-01/IED-preproc/',
 'Y:/stg-preproc/sub-FL003/task-flickerneuro/ses-01/IED-preproc/',
 'Y:/stg-preproc/sub-FL005/task-flickerneuro/ses-01/IED-preproc/',
 'Y:/stg-preproc/sub-FL007/task-flickerneuro/ses-01/IED-preproc/',
 'Y:/stg-preproc/sub-FL009/task-flickerneuro/ses-01/IED-preproc/',
 'Y:/stg-preproc/sub-FL010/task-flickerneuro/ses-01/IED-preproc/',
 'Y:/stg-preproc/sub-FL011/task-flickerneuro/ses-01/IED-preproc/',
 'Y:/stg-preproc/sub-FL012/task-flickerneuro/ses-01/IED-preproc/',
 'Y:/stg-preproc/sub-FL014/task-flickerneuro/ses-01/IED-preproc/',
 'Y:/stg-preproc/sub-FL014/task-flickerneuro/ses-02/IED-preproc/',
 'Y:/stg-preproc/sub-FL016/task-flickerneuro/ses-01/IED-preproc/',
 'Y:/stg-preproc/sub-FL021/task-flickerneuro/ses-01/IED-preproc/']

In [35]:
# Import subject's Excel file
sessions = np.arange(0,rows)
sessions

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13])

In [36]:
session_path=IED_path[0]+'sub-'+ str(sessions_flickerneuro.loc[0,'Subject_ID'])+'_allspikes.csv'
session_path

'Y:/stg-preproc/sub-FL000/task-flickerneuro/ses-01/IED-preproc/sub-FL000_allspikes.csv'

In [37]:
session_path_win = os.path.abspath(session_path)
session_path_win

'Y:\\stg-preproc\\sub-FL000\\task-flickerneuro\\ses-01\\IED-preproc\\sub-FL000_allspikes.csv'

In [38]:
os.path.exists(session_path_win)

True

In [40]:
session_df = pd.read_csv(session_path_win)
session_df.head()

,clip_ids,clip,subject,start,chan,predicted_class
0,Y:/singer/Lou/Data/temp_flicker-manuscript_IED...,FL000_233_5,FL000,233,5,0
1,Y:/singer/Lou/Data/temp_flicker-manuscript_IED...,FL000_4503_51,FL000,4503,51,0
2,Y:/singer/Lou/Data/temp_flicker-manuscript_IED...,FL000_5723_10,FL000,5723,10,0
3,Y:/singer/Lou/Data/temp_flicker-manuscript_IED...,FL000_6062_62,FL000,6062,62,1
4,Y:/singer/Lou/Data/temp_flicker-manuscript_IED...,FL000_6066_65,FL000,6066,65,0

### 2.1: filter out false positive IED events: 0 is true IED 1 is False positive

In [41]:
session_df_tp = session_df[session_df['predicted_class']==0]
session_df_tp.head()

,clip_ids,clip,subject,start,chan,predicted_class
0,Y:/singer/Lou/Data/temp_flicker-manuscript_IED...,FL000_233_5,FL000,233,5,0
1,Y:/singer/Lou/Data/temp_flicker-manuscript_IED...,FL000_4503_51,FL000,4503,51,0
2,Y:/singer/Lou/Data/temp_flicker-manuscript_IED...,FL000_5723_10,FL000,5723,10,0
4,Y:/singer/Lou/Data/temp_flicker-manuscript_IED...,FL000_6066_65,FL000,6066,65,0
5,Y:/singer/Lou/Data/temp_flicker-manuscript_IED...,FL000_6066_66,FL000,6066,66,0

### 2.2: filter out overlapping IED events within 100 msec
- fs = 200 Hz -> ts = 5 mses
- 100 msec/5 msec = 20 samples
- next IED start >= 20 samples

##  3. Plot histograms with different time size bins for each session

## 4. convert each step into a function and run in a loop for all of the selected subject's sessions