# IED distributions during flicker sessions

### Sina Dabiri

In [1]:
import numpy as np
import matplotlib
from matplotlib import pyplot as plt
import seaborn as sns
import pandas as pd

## 1. select which subject's data to use
Check excel sheet to see which subjects to include in IED histogram analysis
FlickerStudyMetadata.xlsx

In [10]:
path="Y:\FlickerStudyMetadata.xlsx"
FlickerStudy_df = pd.read_excel(path)

In [11]:
FlickerStudy_df.head()

,Subject_ID,Experiment,Session,Session_version,Completed?,Number of sessions within experiment,Include in analysis?,Brightness lux 1 (40Hz AV)- left,Brightness lux 2 (40Hz AV)- right,Average brightness,Volume dBA 1 (40Hz AV)- left,Volume dBA 2 (40Hz AV)- right,Average Volume,Did occluded?,Single unit recording?,Number of single units,Location of single units,"AEDs taken on day of testing, before testing",Relevant notes
0,FL000,flickerneuro,1,NaN,1,6,1,162,163,162.5,73.9,77.2,75.55,1,0,NaN,NaN,Lamotrigine (300mg); Levetiracetam (750mg); Zo...,Occluded condition was 40Hz-AV; any other notes?
1,FL001,flickerneuro,1,NaN,1,6,1,200,197,198.5,81.4,83.5,82.45,0,1,11,"mid-hippocampus, posterior-cingulate",Lamotrigine (300mg); Levetiracetam (2000mg); T...,NaN
2,FL002,flickerneuro,1,NaN,1,6,1,13,14,13.5,82.4,83.4,82.90,1,0,NaN,NaN,Lamotrigine (200mg).,NaN
3,FL003,flickerneuro,1,NaN,1,6,1,48,50,49.0,79.1,77.5,78.30,1,0,NaN,NaN,Lamotrigine (75mg); Levetiracetam (250mg).,NaN
4,FL003,spep,1,NaN,1,NaN,1,709,720,714.5,91.7,93.4,92.55,1,0,NaN,NaN,None.,NaN

In [25]:
# Filtering for subjects to include in analysis 
sessions = FlickerStudy_df.loc[FlickerStudy_df['Include in analysis?']>0 ,['Subject_ID','Experiment','Session']]
sessions_flickerneuro = sessions.loc[FlickerStudy_df['Experiment']=='flickerneuro']
sessions_flickerneuro

   Subject_ID    Experiment  Session
0       FL000  flickerneuro        1
1       FL001  flickerneuro        1
2       FL002  flickerneuro        1
3       FL003  flickerneuro        1
6       FL005  flickerneuro        1
9       FL007  flickerneuro        1
12      FL009  flickerneuro        1
14      FL010  flickerneuro        1
15      FL011  flickerneuro        1
17      FL012  flickerneuro        1
21      FL014  flickerneuro        1
22      FL014  flickerneuro        2
25      FL016  flickerneuro        1
33      FL021  flickerneuro        1

## 2. Import "All spike" tables for each session into conda dataframe

In [ ]:
# loop through to get all of the paths to the "All spike" xl files
row, col = sessions_flickerneuro.shape
for p in range(row):
    IED_path[p]=

In [45]:

['Y:\stg-preproc\' , sessions_flickerneuro.loc[0,'Subject_ID']]
# ['\task-flickerneuro\ses-0' + sessions_flickerneuro.loc[[0],['Session']] + '\IED-preproc']

SyntaxError: invalid syntax (1678538245.py, line 1)

In [43]:
sessions_flickerneuro.loc[0,'Subject_ID']

'FL000'

### 2.1: filter out false positive IED events: 0 is true IED 1 is False positive

##  3. Plot histograms with different time size bins for each session

## 4. convert each step into a function and run in a loop for all of the selected subject's sessions